html,
body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

/*Layout Principal*/
#container {
    position: relative;
    height: 100vh;
    width: 100vw;
    background: rgb(210, 210, 255);
    overflow: hidden;
}

#cy {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.particle {
    position: absolute;
    pointer-events: none;
}

/*Controles*/
#controls {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 10;
    transition: 0.5s;
}

#controls:hover {
    transform: scale(1.1);
}

button {
    border: none;
    border-radius: 20px;
    background-color: rgb(85, 85, 255);
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 1px;
    padding: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Mapa Mínimo */
.container-graph {
    position: fixed;
    bottom: 40px;
    right: 40px;
    height: 320px;
    width: 420px;
    box-sizing: border-box;
    padding: 25px;
    border: 4px solid black;
    border-radius: 10px;
    background-color: rgb(175, 175, 255);
    font-family: Arial, sans-serif;
    transition: 0.4s ease-in-out;
}

/* Gráfico e Ferramentas*/
.graph {
    height: 65%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.tools {
    height: 35%;
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
    border-radius: 20px;
    background-color: rgb(184, 184, 255);
}

/*Blocos de Informação*/
.inf-blocks {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 2rem;
    font-weight: 800;
    border-radius: 20px;
}

.b-green { background-color: rgb(195, 255, 104); }
.b-red   { background-color: rgb(255, 94, 94); }
.b-blue  { background-color: rgb(78, 78, 255); }

/* Ícone Minimizar*/
.min-screen img {
    width: 3rem;
}

/*Minimizado */
.container-graph.minimized {
    height: 100px;
    width: 100px;
    padding: 0;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-graph.minimized .tools {
    background-color: transparent;
}

.container-graph.minimized .graph,
.container-graph.minimized .tools .inf-blocks:not(.min-screen) {
    display: none;
}

.container-graph.minimized .min-screen img {
    width: 3rem;
}